<h1>SoCal Pizza Place</h1>
<h2>SIMPLY THE BEST!</h2>




<div id="menu">

  <div><h1>Pizza</h1></div>

  <div>
    <h2>Thin Crust</h2>
    <div class="description">Everyone loves our thin crust pizza! Try one today! Select from a wide array of toppings.</div>
  </div>
  <div>
    <h2>Medium Crust</h2>
    <div class="description">Everyone loves our medium crust pizza! Try one today! Select from a wide array of toppings.</div>
  </div>
  <div>
    <h2>Deep Dish</h2>
    <div class="description">This is a local fav! Try one today! Select from a wide array of toppings.</div>
  </div>
  <div>
    <h2>Vegan Pizza</h2>
    <div class="description">Vegan love this option! Try one today! Select from a wide array of toppings.</div>
  </div>
  <div>
    <h2>Paleo Crust Pizza</h2>
    <div class="description">Those on a low carb diet love this option! Try one today! Select from a wide array of toppings.</div>
  </div>


</div>


<div class="ctaWrapper">
  <!-- <h2>***Sign up &/or Log in to place an order online***</h2> -->
  <!-- <a class="loggedOut cta mustard" href="account/create">Sign up</a>

  <a class="cta tan" href="session/create">Login</a> -->
</div>
