<h1>Your Order Total</h1>
<h2>Thank you for placing an order with SoCal Pizza!!</h2>


<hr />

<table id="orderListTable">
  <thead>
    <th>Pizza Type</th>
    <th>Toppings</th>
    <th>Size</th>
    <th>Total</th>
    <th>Details</th>
 </thead>

  <tr id="noOrderMessage">
    <td colspan="5">You have no order, please place one!</td>
  </tr>



</table>

<div id="createOrderCTA" class="ctaWrapper">
  <a class="cta green" href="order/create">Place an Order</a>
</div>

<h1>Checkout</h1>

    <div class="formWrapper">
        <div class="formWrapper">
            <form id="checkout" action="/api/confirm" method="POST">
                <input type="hidden" name="_method" value="POST" />
                <div class="formError"></div>
                <div class="formSuccess">Your payment has been sent. Check your email shortly.</div>
                <div class="inputWrapper">
                    <div class="inputLabel">First Name</div>
                    <input class="firstNameInput" type="text" name="firstName" placeholder="John" required/>
                </div>
                <div class="inputWrapper">
                    <div class="inputLabel">Last Name</div>
                    <input class="lastNameInput" type="text" name="lastName" placeholder="Smith" required/>
                </div>
                <div class="inputWrapper">
                    <div class="inputLabel">Address:</div>
                    <input type="text" class="displayAddressInput" name="address" placeholder="234 Pizza Rd." required/>
                </div>
                <div class="inputWrapper">
                    <div class="inputLabel">Email</div>
                    <input class="disabled displayEmailInput" type="text" name="email" disabled />
                </div>
                <div class="inputWrapper">
                    <div class="inputLabel">Total</div>
                    <input class="disabled displayTotalInput" type="text" name="totalBill" disabled/>
                </div>
                <div class="inputWrapper">
                    <div class="inputLabel">Credit Card</div>
                    <input class="displayCreditCardInput" type="text" name="creditcard" required/>
                </div>
                <div class="inputWrapper ctaWrapper">
                    <button type="submit" id="payment" class="cta green">Submit Payment</button>
                </div>
            </form>
        </div>
    </div>
</div>
