<h1>SoCal Pizza Place</h1>
<h2>SIMPLY THE BEST!</h2>

<div class="blurb">Welcome to The SoCal Pizza Place! We have the best pizza in the world! Move over Chicago! Move over NYC! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et congue leo. Donec non congue arcu, quis rutrum ipsum. Sed ipsum tellus, pretium et orci ut, ultricies venenatis metus. Sed faucibus orci eget viverra feugiat. Vestibulum eu enim vel odio rutrum ultrices. Aliquam suscipit magna sit amet leo elementum maximus at at urna. Etiam facilisis ornare augue, non pulvinar nisl aliquam sed. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi eu felis lacus. In tristique vel erat porta auctor. Donec at turpis efficitur, vehicula est non, pharetra est.</div>

<div class="ctaWrapper">
  <a class="cta mustard" href="account/create">Sign up</a>
  <a class="cta tan" href="session/create">Login</a>
</div>
